.kontainer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 210px;
        width: 633px;
        border-radius: 8px;
    }

.tulisan-container{
    margin-top: 2rem
    ;
}

.rapper{
    padding-left: 75px;
    display: flex;
    flex-direction: column;
    gap: 3rem;

}
    
.jdll{
    fill: black; /* Warna teks */
    font-size: 20px; /* Ukuran teks */
    text-anchor: middle; /* Pusatkan horizontal teks */
    font-family: Poppins;
    font-weight: bold;
    width: 271px;
    text-wrap: wrap;
    max-width: 100%;
    margin-top: 20px;
    margin-left: 19px;
}

.wrtrr{
    fill: gray; /* Warna teks */
    font-size: 16px; /* Ukuran teks */
    font-family: Poppins;
    text-anchor: middle; /* Pusatkan horizontal teks */
    overflow-wrap: break-word;
    margin-left: 19px;
    width: 70px;
    padding-left: 20px;
}

.imageeee{
    margin-top: 30px;
    width: 100px;
}

.writeerr{
    fill: gray; /* Warna teks */
    font-size: 20px; /* Ukuran teks */
    font-family: Poppins;
    text-anchor: middle; /* Pusatkan horizontal teks */
    overflow-wrap: break-word;
    margin-left: 19px;
    width: auto;
    font-weight: bold;
    padding-left: 20px;
}

.ingp {
    display: flex;
    justify-content: space-between; /* Memindahkan penulis ke kiri dan buy ke kanan */
    align-items: center; /* Memastikan teks berada di tengah vertikal */
    gap: 10rem;
}

.wrtrr{
    /* Gaya lainnya */
    margin: 0; /* Atur margin */
}

.writeerr, .priceee  {
    margin: 0 0 1px;
}

.adidul{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 9rem;
}
