@font-face {
    font-family: Fredoka;
    src: url(../../Fredoka.ttf);
  }
  
  @font-face{
    font-family: Freedoka-semibold;
    src: url(../../Fredoka-SemiBold.ttf);
  }
  
  @font-face {
    font-family: Poppins;
    src: url(../../Poppins.ttf);
  }

.ebok{
    margin-top: 100px;
    justify-content: center;
    font-weight: bold;
    font-family: Fredoka;
    font-size: 32px;
    display: flex;

}

.imagee{
  display: flex;
  padding-left: 72px;
  height: 481px;
}

.detail{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  text-wrap: wrap;
  width: auto;
  overflow-wrap: break-word;
  align-items: center;
  padding-bottom: 9rem;
}

.Title{
  font-family: Fredoka;
  font-weight: bold;
  font-size: 64px;
  padding-left: 3rem;
  width: 650px;
  padding-bottom: 12px;
}

.Writer{
  font-family: Poppins;
  font-size: 20px;
  padding-left: 3rem;
  width: 650px;
  padding-bottom: 12px;
}

.Harga{
  font-family: Poppins;
  font-weight: bold;
  font-size: 40px;
  padding-left: 3rem;
  width: 650px;
  padding-bottom: 1rem; 
}

.Synopsis{
  font-family: Poppins;
  font-size: 18px;
  padding-left: 3rem;
  width: 880px;
  overflow-wrap: break-word;
}

.kotak {
  width: 130px; /* Lebar tombol */
  height: 40px; /* Tinggi tombol */
  background-color: #79B3D3; /* Warna latar belakang tombol */
  border: 1px solid transparent;
  color: white; /* Warna teks */
  font-family: Poppins;
  font-size: 20px;
  padding: 0px 10px; /* Padding untuk memberikan ruang di dalam tombol */
  border-radius: 10px; /* Membuat sudut tombol membulat */
  cursor: pointer; /* Mengubah ikon kursor saat diarahkan ke tombol */
  text-decoration: n0ne;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.kotak:hover{
  background-color: white; /* Warna latar belakang tombol saat dihover */
  border-color: #5d9ec2;
  border-width: 2px;
  color: #5d9ec2;
  font-weight: bold;
}
