.login-icon {
    max-width: 40px;
    height: auto;
    margin-left: 10px;
  }
  
.book-icon {
    max-width: 40px;
    height: auto;
    margin-right: 20px;
}

.biji{
    text-decoration: none;
    border: none;
    background: none;
}