@font-face {
    font-family: Poppins;
    src: url(../../Poppins.ttf);
  }

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
  }

  .search{
        position: absolute; /* Position the search icon absolutely */
        right: 10px; /* Adjust the left position as needed */
        top: 50%; /* Center the icon vertically */
        transform: translateY(-50%); /* Adjust for vertical centering */
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-family: Poppins;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 10px;
  }
  
  .rounded-4 {
    border-radius: 10px;
  }
  