@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.bodyWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentLoginWrap {
  height: 60%;
  width: 80%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f8f9;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 33px 0px rgba(219, 221, 255, 0.46);
  -moz-box-shadow: 0px 0px 33px 0px rgba(219, 221, 255, 0.46);
  box-shadow: 0px 0px 33px 0px rgba(219, 225, 255, 0.46);
}

.loginWrap {
  margin-top: 50px;
  padding: 20px;
}

/* left side */
.loginSide {
  background-color: #fafafa;
  height: 100%;
  width: 55%;
  border-radius: 10px 0 0 10px;
  text-align: center;
}

.loginSide h1 {
  text-align: center;
  margin: 0 0 50px 0;
  font-weight: 400;
  font-size: 60px;
  color: #2e2e2e;
}

.input-group {
  margin-bottom: 35px;
  position: relative;
}

.input {
  display: block;
  width: 100%;
  height: 30px;
  border: 0;
  border-bottom: 2px solid #ddd;
  padding: 1.6em;
  box-sizing: border-box;
  background: none;
  outline: none;
  color: #78909c;
  transition: all 0.2s ease-in;
}

.input:focus {
  border-bottom: 2px solid #161517;
}

label {
  position: absolute;
  top: 35%;
  left: 39px;
  color: #B0BEC5;
  pointer-events: none;
  font-size: meduim;
  transition: all 0.3s ease;
}

.input-group input:focus+label,
label.focusLabel {
  top: -10px;
  font-size: xx-small;
}
.input.password {
  -webkit-text-security: disc;
}
.loginSide span {
  float: left
}

.loginSide a {
  float: right;
  text-decoration: none;
  color: #000;
  transition: 0.3s all ease-in-out;
}

.loginSide button {
  font-size: 16px;
  display: block;
  border: none;
  border-radius: 35px;
  padding: 16px 56px;
  box-shadow: 0 5px 17px -2px rgba(95, 172, 239, 0.5);
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: #79B3D3;
  margin: 0 auto;
}

.loginSide button:hover {
  box-shadow: 0 5px 12px 3px rgba(95, 174, 239, 0.5);
}

.loginSide p {
  display: inline-block;
  margin: 0px 10px 30px;
}

/* right side */
.infoSide {
  background: -webkit-linear-gradient(bottom left, #79B3D3, #3d8fca, #005082, #00305f);
  background: -o-linear-gradient(bottom left, #79B3D3, #3d8fca, #005082, #00305f);
  background: linear-gradient(to top right, #79B3D3, #3d8fca, #005082, #00305f);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  height: 100%;
  width: 45%;
  border-radius: 10px 0 0 10px;
  text-align: center;
}

.infoSide h2 {
  margin: 30px 0;
  font-size: 50px;
  font-weight: 500;
}

.infoSide p {
  font-size: 18px;
  margin-bottom: 30px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


/* responsive */
@media screen and (max-width: 1024px) {
  .contentLoginWrap {
    width: 97%;
    max-width: 800px;
  }
  .loginWrap {
    padding: 10px;
  }
  .loginSide h1 {
    font-size: 50px;
  }
  .infoSide h2 {
    font-size: 40px;
  }
}  

  .infoSide p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  
  /* responsive */
  @media screen and (max-width: 1024px) {
    .contentLoginWrap {
      width: 97%;
      max-width: 800px;
    }
    .loginWrap {
      padding: 10px;
    }
    .loginSide h1 {
      font-size: 50px;
    }
    .infoSide h2 {
      font-size: 40px;
    }
  }

.mail{
    color: #130202;
    /* height: 29px; */
    width: 35px;
}
.wrapper{
    width: 420px;
    background: white ;
    display: flex;
    /* align-items: center;
    justify-content: center; */

}
.butopia123 {
    font-size: 90px;
    text-align: center;
    position: relative;
    /* margin-left: 1; */
    /* margin-left: 30px; */
    overflow-y: 195px;
    margin-top: 10%;
    padding: auto;
    margin-bottom: 5%;
    font-family: "Fredoka", sans-serif;
    /* width: min-content; */
    font-weight: bold;

}
.butopia2{
    font-size: 90px;
    text-align: center;
    margin-left: 45px;
    position: relative;
}
.wrapper h2{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding-bottom: 5px;
    position: relative;
    padding-top: 5px;
    margin-left: 1%;
    text-align: center;
    color: #000000;
    margin-top: 5%;
}
.wrapper h5 {
    font-size: 15px;
    margin-bottom: 5%;
    margin-top: 10%;
    margin-top: 9%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 15px;
    line-height: 0px;
    color: #495B40;
    letter-spacing: 3%;
    padding-bottom: 1px;
}
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    /* background: salmon; */
    margin: 30px 0;
    margin-top: 2px;
}
.wrapper .input-box {
    position: relative;
    width: 100%;
    width:auto;
    width: 41cap;
    height: 50px;
    /* background: salmon; */
    margin: 30px 0;
    margin-top: 2px;
    scroll-padding: 20px;
    align-items: center;
    justify-content: center;
    padding: auto;
    


}

.input-box input{
    width: 456px;
    height: 50px;
    font-weight: 500; /* ukuran font (Medium)*/
    background: #ffffff;
    line-height: 80px;

    font-family: "Poppins", sans-serif;
    border: none;
    outline: black;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40px;
    stroke: black;
    padding: 20px 45px 20px 20px;
    align-items: center;
}
.input-box input::placeholder{
    padding-left: 70px;
    color: rgb(14, 13, 10);
}
.input .text{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.teks{
    padding: 5px;
}
input{
    position: absolute;
    width: 100%;
    outline: #130202;
    line-height: 80px;
    transition: 0.1s ease;
    
}
.input-box .icon{
    position: absolute;
    width: 35px;
    height: 29px;
    left: 20px;
    margin: 0 20px;
    transition: 0.256s ease;
    margin-left: 5px;
    top: 25%;
    /* transform: translateY(-50%); */
    font-size: 16px;
    size: XL;
    background-color: #ffffff;
    transform: translate(5px) scale(1);
    background-position: 1px;
    background-size:1px;
    border-radius: 3px;
}
input:focus + .icon,
input:valid + .icon{
    height: 15px;
    line-height: 10px;
    padding: 0 10px;
    transition: 0.3s ease;
    transform: translate(13px, -18px) scale(1.4);
    
}
.wrapper .buttoni{
    width: 349px;
    height: 59px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 53px;
    background-color: #79B3D3;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    border-color: #000000;
    position: center;
    left: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow-x: auto;
    margin-top: 10%;


}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
.wrapper .linkiy{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    text-align: center;
    margin-left: 15px;
    margin: 10px;
    text-align: center;
    padding-right: 10px;
    font-weight: regular;
    color: #000000;

}
.linkiy p a{
    color: #495B40;
    text-decoration: none;
    font-weight: 15px;
}
.linkiy p a:hover{
    text-decoration: underline;
    color: #495B40;
}
.wrapper .p {
    position: center; 
    margin-left: 20px;
}

i {
  position: absolute;
  color: #000000;
}
.fa-eye,
.fa-eye-slash {
  font-size: 16px; /* Sesuaikan ukuran ikon mata sesuai kebutuhan */
}
.pw .iconbut{
    margin-left: 86%;
    margin-top: 60px;
    color:#000000;
}